<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <title>Research of NLP API</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Hebe Sun">
        <meta name="description" content="An amazing API project">
        <meta property="og:title" content="Research of NLP API">
        <meta property="og:description" content="An amazing API project">
        
        <link href="https://fonts.googleapis.com/css2?family=Overpass:wght@300;400;700&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap" rel="stylesheet"> 
    </head>
    <body>
        <main class="wrapper">
            <div class="center-wrapper">
                <div class="content-sides">
                <section class="content-left">
                    <h1>Ready? Type it!</h1>
                    <form id="userForm">
                        <textarea id="textToCheck" name="input"></textarea>
                        <button type="submit">CHECK IT</button>
                    </form>
                </section>

                <section class="content-right">
                    <div id="person" class="person"><img id="person-image"></div>
                    <div id="loader" class="loader hide">Loading...</div>
                    <div id="results" class="hide-opacity">
                    </div>
                </section>
                </div>
            </div>
          </main>
    </body>
</html>
